body
{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
td
{
    width: 15vw;
    height: 3vw;
    text-align: center;
}
#pair
{
    background-color: red;
}

#impair
{
    background-color: grey;
}
button
{
    background-color: green;
    border-radius: 10%;
}
button:hover
{
    background-color: white;
}